<div class="row mx-auto" id="allProductsPage">
  <div class="col-md-4 mb-4 mt-3 single-product"
       *ngFor="let product of productsArr; let i = index;">
    <div class="card">
      <img src="{{product.img}}"
           class="rounded mx-auto d-block mt-3 img-fluid"
           width="240"
           height="135"
           alt="{{product.title}}"
           title="{{product.title}}"/>
      <hr>
      <div class="card-body">
        <a [routerLink]="['/products', product.id]">
          <h6 class="text-center single-product-title" data-index="">
            {{product.title | titlecase}}
          </h6>
        </a>
        <p class="text-muted">категория: {{product.category}}; подкатегория:
          {{product.subcategory}}; цена:
          {{product.price | currency: 'USD' : 'code' : '1.0-0'}}</p>
      </div>
      <a [routerLink]="['/products', product.id]" class="text-center">
        <button type="button"
                class="btn-sm w-25 mb-3 btn-info"
                data-index="">
          Открыть
        </button>
      </a>
    </div>
  </div>
</div>
