<div class="row mx-auto" id="allProductsPage">
  <div class="col-md-4 mb-4 mt-3 single-product" data-index="" *ngFor="let
product of productsArr; let i = index;">
    <div class="card">
      <img src="{{product.img}}"
           class="rounded mx-auto d-block mt-3 img-fluid"
           width="240"
           height="135"
           alt="{{product.title}}"
           title="{{product.title}}"/>
      <hr>
      <div class="card-body">
        <h6 class="text-center single-product-title" data-index="">
          {{product.title}}
        </h6>
        <p class="text-muted">категория: {{product.category}}; подкатегория:
          {{product.subcategory}};
          состояние: {{product.condition}}; цена: {{product.price}}; город:
          {{product.city}}</p>
      </div>
      <button type="button"
              class="mx-auto btn-sm w-25 mb-3 btn-info"
              data-index="" (click)="onProductClick()">
        Открыть
      </button>
    </div>
  </div>
</div>
