<div class="col mt-3 mr-5" *ngIf="showBikeOptions">
  <form (change)="onClicked($event.target.value)">
    <div class="form-group">
      <div class="mb-2">Подкатегория. Байк</div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               name="bikesCategory"
               value="fullSuspension"
               id="fullSuspension">
        <label class="form-check-label" for="fullSuspension">
          Двухподвес
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               name="bikesCategory"
               value="hardtail"
               id="hardtail">
        <label class="form-check-label" for="hardtail">
          Хардтейл
        </label>
      </div>
    </div>
  </form>
</div>
<div class="col mt-3 mr-5" *ngIf="showFrameOptions">
  <form>
    <div class="form-group">
      <div class="mb-2 ctg">Подкатегория. Рама</div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               name="framesCategory"
               value="fullSuspensionFrame"
               id="fullSuspensionFrame">
        <label class="form-check-label" for="fullSuspensionFrame">
          Двухподвес
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               name="framesCategory"
               value="hardtailFrame"
               id="hardtailFrame">
        <label class="form-check-label" for="hardtailFrame">
          Хардтейл
        </label>
      </div>
    </div>
  </form>
</div>
<div class="col mt-3 mr-5" *ngIf="showSuspensionOptions">
  <form>
    <div class="form-group">
      <div class="mb-2 ctg">Подкатегория. Подвеска</div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               name="suspensionCategory"
               value="fork"
               id="fork">
        <label class="form-check-label" for="fork">
          Вилка
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               name="suspensionCategory"
               value="shock"
               id="shock">
        <label class="form-check-label" for="shock">
          Амортизатор
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               name="suspensionCategory"
               value="spring"
               id="spring">
        <label class="form-check-label" for="spring">
          Пружина
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               name="suspensionCategory"
               value="suspensionParts"
               id="suspensionParts">
        <label class="form-check-label" for="suspensionParts">
          Детали для подвески
        </label>
      </div>
    </div>
  </form>
</div>
<div class="col mt-3 mr-5" *ngIf="showBrakeOptions">
  <form>
    <div class="form-group">
      <div class="mb-2 ctg">Подкатегория. Тормоза</div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               name="brakesCategory"
               value="discBrake"
               id="discBrake">
        <label class="form-check-label" for="discBrake">
          Дисковый тормоз
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               name="brakesCategory"
               value="rimsBrake"
               id="rimsBrake">
        <label class="form-check-label" for="rimsBrake">
          Ободной тормоз
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               name="brakesCategory"
               value="rotor"
               id="rotor">
        <label class="form-check-label" for="rotor">
          Ротор
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               name="brakesCategory"
               value="pad"
               id="pad">
        <label class="form-check-label" for="pad">
          Колодки
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               name="brakesCategory"
               value="brakesParts"
               id="brakesParts">
        <label class="form-check-label" for="brakesParts">
          Детали для тормозов
        </label>
      </div>
    </div>
  </form>
</div>
<div class="col mt-3 mr-3" *ngIf="showTyresOptions">
  <form>
    <div class="form-group">
      <div class="mb-2 ctg">Подкатегория. Колеса и резина</div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               name="wheelsCategory"
               value="wheelset"
               id="wheelset">
        <label class="form-check-label" for="wheelset">
          Колесо в сборе
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               name="wheelsCategory"
               value="hub"
               id="hub">
        <label class="form-check-label" for="hub">
          Втулка
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               name="wheelsCategory"
               value="rim"
               id="rim">
        <label class="form-check-label" for="rim">
          Обод
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               name="wheelsCategory"
               value="tyre"
               id="tyre">
        <label class="form-check-label" for="tyre">
          Покрышки
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               name="wheelsCategory"
               value="wheelsParts"
               id="wheelsParts">
        <label class="form-check-label" for="wheelsParts">
          Детали для колес
        </label>
      </div>
    </div>
  </form>
</div>
<div class="col mt-3 mr-5" *ngIf="showDrivetrainOptions">
  <form>
    <div class="form-group">
      <div class="mb-2 ctg">Подкатегория. Привод</div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               name="drivetrainCategory"
               value="crankset"
               id="crankset">
        <label class="form-check-label" for="crankset">
          Шатуны
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               name="drivetrainCategory"
               value="bottomBracket"
               id="bottomBracket">
        <label class="form-check-label" for="bottomBracket">
          Каретка
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               name="drivetrainCategory"
               value="derailleur"
               id="derailleur">
        <label class="form-check-label" for="derailleur">
          Переключатель
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               name="drivetrainCategory"
               value="shifter"
               id="shifter">
        <label class="form-check-label" for="shifter">
          Манетка
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               name="drivetrainCategory"
               value="chain"
               id="chain">
        <label class="form-check-label" for="chain">
          Цепь
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               name="drivetrainCategory"
               value="otherDrivetrainParts"
               id="otherDrivetrainParts">
        <label class="form-check-label" for="otherDrivetrainParts">
          Другие детали
        </label>
      </div>
    </div>
  </form>
</div>
<div class="col mt-3 mr-5" *ngIf="showSteeringOptions">
  <form>
    <div class="form-group">
      <div class="mb-2 ctg">Подкатегория. Управление</div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               name="steeringCategory"
               value="stem"
               id="stem">
        <label class="form-check-label" for="stem">
          Вынос
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               name="steeringCategory"
               value="handlebar"
               id="handlebar">
        <label class="form-check-label" for="handlebar">
          Руль
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               name="steeringCategory"
               value="grips"
               id="grips">
        <label class="form-check-label" for="grips">
          Грипсы
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               name="steeringCategory"
               value="steeringParts"
               id="steeringParts">
        <label class="form-check-label" for="steeringParts">
          Детали для управления
        </label>
      </div>
    </div>
  </form>
</div>
<div class="col mt-3 mr-5" *ngIf="showSeatOptions">
  <form>
    <div class="form-group">
      <div class="mb-2 ctg">Подкатегория. Сидение</div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               name="seatsCategory"
               value="seat"
               id="seat">
        <label class="form-check-label" for="seat">
          Седло
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               name="seatsCategory"
               value="dropperPost"
               id="dropperPost">
        <label class="form-check-label" for="dropperPost">
          Дроппер
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               name="seatsCategory"
               value="seatTube"
               id="seatTube">
        <label class="form-check-label" for="seatTube">
          Подседельная труба
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               name="seatsCategory"
               value="otherSeatParts"
               id="otherSeatParts">
        <label class="form-check-label" for="otherSeatParts">
          Другие детали
        </label>
      </div>
    </div>
  </form>
</div>
<div class="col mt-3 mr-5" *ngIf="showPedalsOptions">
  <form>
    <div class="form-group">
      <div class="mb-2 ctg">Подкатегория. Педали</div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               name="pedalsCategory"
               value="platformPedals"
               id="platformPedals">
        <label class="form-check-label" for="platformPedals">
          Платформы
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               name="pedalsCategory"
               value="contactPedals"
               id="contactPedals">
        <label class="form-check-label" for="contactPedals">
          Контактные педали
        </label>
      </div>
    </div>
  </form>
</div>
<div class="col mt-3 mr-5" *ngIf="showAccessoriesOptions">
  <form>
    <div class="form-group">
      <div class="mb-2 ctg">Подкатегория. Аксессуары</div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               name="accessoriesCategory"
               value="frameProtection"
               id="frameProtection">
        <label class="form-check-label" for="frameProtection">
          Защита рамы
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               name="accessoriesCategory"
               value="protectionWings"
               id="protectionWings">
        <label class="form-check-label" for="protectionWings">
          Защитные крылья
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               name="accessoriesCategory"
               value="bottles"
               id="bottles">
        <label class="form-check-label" for="bottles">
          Бутылки
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               name="accessoriesCategory"
               value="otherAccessories"
               id="otherAccessories">
        <label class="form-check-label" for="otherAccessories">
          Другие аксессуары
        </label>
      </div>
    </div>
  </form>
</div>

