<div class="col mt-3 mr-5" id="filtersPage">
  <form>
    <div class="form-group">
      <div class="mb-2" id="ctg">Категория</div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               name="productsCategory"
               value="bike"
               id="bike">
        <label class="form-check-label" for="bike">
          Байк
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               name="productsCategory"
               value="frame"
               id="frame">
        <label class="form-check-label" for="frame">
          Рама
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               name="productsCategory"
               value="suspension"
               id="suspension">
        <label class="form-check-label" for="suspension">
          Подвеска
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               name="productsCategory"
               value="brakes"
               id="brakes">
        <label class="form-check-label" for="brakes">
          Тормоза
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               name="productsCategory"
               value="wheelsAndTyres"
               id="wheelsAndTyres">
        <label class="form-check-label" for="wheelsAndTyres">
          Колеса и резина
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               name="productsCategory"
               value="drivetrain"
               id="drivetrain">
        <label class="form-check-label" for="drivetrain">
          Привод
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               name="productsCategory"
               value="steering"
               id="steering">
        <label class="form-check-label" for="steering">
          Управление
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               name="productsCategory"
               value="seat"
               id="seat">
        <label class="form-check-label" for="seat">
          Сидение
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               name="productsCategory"
               value="pedals"
               id="pedals">
        <label class="form-check-label" for="pedals">
          Педали
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               name="productsCategory"
               value="accessories"
               id="accessories">
        <label class="form-check-label" for="accessories">
          Аксессуары
        </label>
      </div>
      <button type="reset"
              class="btn-sm btn-primary mt-4 btn-secondary btn-outline-light"
              id="clearFiltersBtn">Очистить
      </button>
    </div>
  </form>
</div>

