<div class="col-md-4 mb-4 mt-3 single-product" data-index="">
  <div class="card">
    <img src="../../assets/product-images/IMG_6346.JPG"
         class="rounded mx-auto d-block mt-3 img-fluid"
         width="240"
         height="135"
         alt=""
         title=""/>
    <hr>
    <div class="card-body">
      <h6 class="text-center single-product-title" data-index="">
        Двухподвес Mondraker Dune R 2018 27.5 170/160
      </h6>
      <p class="text-muted">категория: bike; подкатегория:
        full-suspension
        ; состояние: used; цена: 3000$; город: Moscow</p>
    </div>
    <button type="button"
            class="btn-primary btn-sm w-25 mx-auto mb-3 single-product-btn btn-info"
            data-index="">
      Открыть
    </button>
  </div>
</div>
