<div class="card text-center">
  <div class="card-header contacts">
    <h4>Контакты</h4>
  </div>
  <div class="card-footer text-center">
    <ul class="list-unstyled p-2">
      <li>
        <a href="https://vk.com/bolotinnikita" target="_blank">
          <img src="../../../assets/footer/vk-logo.png"
               width="30"
               height="30"
               alt="ВК"
               title="ВК"/></a>
      </li>
      <li>
        <a href="https://twitter.com/bolotinnick" target="_blank">
          <img src="../../../assets/footer/twitter-logo.png"
               width="30"
               height="30"
               alt="Twitter"
               title="Twitter"/></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/bolotinnick/" target="_blank">
          <img src="../../../assets/footer/linkedin-logo.png"
               width="30"
               height="30"
               alt="LinkedIn"
               title="LinkedIn"/></a>
      </li>
      <li>
        <a href="https://github.com/TrekFuel" target="_blank">
          <img src="../../../assets/footer/github-logo.png"
               width="30"
               height="30"
               alt="GitHub"
               title="GitHub"/></a>
      </li>
      <li>
        <a href="https://www.instagram.com/bolotinnick/" target="_blank">
          <img src="../../../assets/footer/instagram-logo.png"
               width="30"
               height="30"
               alt="Instagram"
               title="Instagram"/></a>
      </li>
      <li>
        <a href="mailto:ridge96@yandex.ru?subject=website">
          <img src="../../../assets/footer/email-logo.png"
               width="30"
               height="30"
               alt="Email"
               title="Email"/></a>
      </li>
      <li>
        <a href="https://t.me/bolotinnick" target="_blank">
          <img src="../../../assets/footer/telegram-logo.png"
               width="30"
               height="30"
               alt="Telegram"
               title="Telegram"/></a>
      </li>
      <li>
        <a href="skype:nick-spinner96?add">
          <img src="../../../assets/footer/skype-logo.png"
               width="30"
               height="30"
               alt="Skype"
               title="Skype"/></a>
      </li>
      <li>
        <a href="viber://chat?number=+375291328633">
          <img src="../../../assets/footer/viber-logo.png"
               width="30"
               height="30"
               alt="Viber"
               title="Viber"/></a>
      </li>
      <li>
        <a href="https://wa.me/375291328633" target="_blank">
          <img src="../../../assets/footer/whatsapp-logo.png"
               width="30"
               height="30"
               alt="WhatsApp"
               title="WhatsApp"/></a>
      </li>
    </ul>
    <div class="btn btn-secondary mb-2">Bolotin Nikita &copy;, 2020 <br>
      FE-3
      Courses
    </div>
  </div>
</div>
