<nav class="navbar navbar-expand-lg navbar-light"
     id="nvb">
  <a routerLink="/"
     [routerLinkActive]="'img-thumbnail'"
     [routerLinkActiveOptions]="{exact: true}"
     class="ml-2 mr-5 mb-1">
    <img src="../../../assets/project-logo.png"
         width="45"
         height="45"
         alt="BikeMarket"
         title="BikeMarket">
  </a>
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
          appDropdown>
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-between"
       id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="/about"
           [routerLinkActive]="'active'"
           [routerLinkActiveOptions]="{exact: true}">
          <button class="nav-link btn about-btn"
                  id="aboutButton">О
            проекте<span
              class="sr-only"></span></button>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="/post"
           [routerLinkActive]="'active'"
           [routerLinkActiveOptions]="{exact: true}">
          <button class="nav-link btn post-btn"
                  id="postButton">Добавить объявление<span
            class="sr-only"></span></button>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav"
        *ngIf="!(user$ | async)">
      <li class="nav-item">
        <a routerLink="/login"
           [routerLinkActive]="'active'"
           [routerLinkActiveOptions]="{exact: true}">
          <button class="nav-link btn login-btn"
                  id="loginButton">Вход<span
            class="sr-only"></span></button>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav mr-2"
        *ngIf="!(user$ | async)">
      <li class="nav-item">
        <a routerLink="/register"
           [routerLinkActive]="'active'"
           [routerLinkActiveOptions]="{exact: true}">
          <button class="nav-link btn register-btn"
                  id="registerButton">Регистрация<span
            class="sr-only"></span></button>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav mt-2"
        *ngIf="user$ | async">
      <li class="nav-item">
        <p class="font-italic">
          {{user$.getValue().email}}
        </p>
      </li>
    </ul>
    <ul class="navbar-nav mr-2"
        *ngIf="user$ | async">
      <li class="nav-item">
        <button class="btn"
                (click)="onLogout()">
          Выход
          <span class="sr-only"></span></button>
      </li>
    </ul>
  </div>
</nav>
