<nav class="navbar navbar-expand-lg navbar-light" id="nvb">
  <a routerLink="/" [routerLinkActive]="'img-thumbnail'"
     [routerLinkActiveOptions]="{exact: true}"
     class="ml-2">
    <img src="../../../assets/project-logo.png" width="45"
         height="45" alt="BikeMarket" title="BikeMarket">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation" (click)="dropdowned = !dropdowned">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent"
       [ngClass]="{'show': dropdowned}">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active mr-5">
        <a routerLink="/about"
           [routerLinkActive]="'active'"
           [routerLinkActiveOptions]="{exact: true}">
          <button class="nav-link btn about-btn ml-5" id="aboutButton">О
            проекте<span
              class="sr-only"></span></button>
        </a>
      </li>
      <li class="nav-item active ml-5 mr-5">
        <a routerLink="/post"
           [routerLinkActive]="'active'"
           [routerLinkActiveOptions]="{exact: true}">
          <button class="nav-link btn post-btn"
                  id="postButton">Добавить объявление<span
            class="sr-only"></span></button>
        </a>
      </li>
      <li class="nav-item active ml-5 mr-5">
        <a routerLink="/login"
           [routerLinkActive]="'active'"
           [routerLinkActiveOptions]="{exact: true}">
          <button class="nav-link btn login-btn"
                  id="loginButton">Вход<span
            class="sr-only"></span></button>
        </a>
      </li>
      <li class="nav-item active">
        <a routerLink="/register"
           [routerLinkActive]="'active'"
           [routerLinkActiveOptions]="{exact: true}">
          <button class="nav-link btn register-btn ml-5"
                  id="registerButton">Регистрация<span
            class="sr-only"></span></button>
        </a>
      </li>
    </ul>
  </div>
</nav>
