<div class="col container-columns mx-auto mt-5 mb-5 single-product"
     *ngIf="isProduct">
  <div class="card">
    <img src="{{currentProduct.img}}"
         class="rounded mx-auto d-block mt-3 img-fluid"
         width="750"
         height="500"
         alt="{{currentProduct.title}}}"
         title="{{currentProduct.title}}"/>
    <hr>
    <div class="card-body">
      <h5 class="card-title text-center font-weight-bold mb-3">
        {{currentProduct.title | titlecase}}
      </h5>
      <p class="card-text mb-3">
        {{currentProduct.text}}
      </p>
      <p class="font-italic text-monospace">
        категория: {{currentProduct.category}} ;
        подкатегория: {{currentProduct.subcategory}} ;
        состояние: {{currentProduct.condition}} ;
        цена: {{currentProduct.price | currency: 'USD' : 'code' : '1.0-0'}} ;
        торг: {{currentProduct.trade}} ; город: {{currentProduct.city}} ;
        контакты: {{currentProduct.contacts}} .</p>
    </div>
  </div>
</div>
