<div class="col container-columns mx-auto mt-5 mb-5 single-product"
     data-index="">
  <div class="card">
    <img src="../../../assets/product-images/IMG_6346.JPG"
         class="rounded mx-auto d-block mt-3 img-fluid"
         width="750"
         height="500"
         alt="alt"
         title="title"/>
    <hr>
    <div class="card-body">
      <h5 class="card-title text-center font-weight-bold">
        Заголовок
      </h5>
      <p class="card-text">
        Текст объявления
      </p>
      <p class="text-italic">категория: ; подкатегория: ; состояние: ; цена: ;
        торг: ; город: ; контакты: .</p>
    </div>
  </div>
</div>
