<header class="container-main mx-auto mb-3 backBtn" id="header">
  <app-header></app-header>
</header>
<main class="row container-main mx-auto mt-4">
  <app-filters-column></app-filters-column>
  <!--  <app-subfilters-column></app-subfilters-column>-->
  <div class="container-columns">
    <div class="row mx-auto" id="allProductsPage">
      <app-product-template></app-product-template>
      <app-product-template></app-product-template>
      <app-product-template></app-product-template>
      <app-product-template></app-product-template>
      <app-product-template></app-product-template>
      <app-product-template></app-product-template>
    </div>
  </div>
</main>
<footer class="container-main mx-auto mt-3">
  <app-footer></app-footer>
</footer>
