<div class="col mx-auto mt-5 mb-5 w-50">
  <img
    src="../../assets/angular-logo.png"
    alt="angular-logo"
    title="angular-logo"
    class="mb-5 img-fluid"
  />
  <p class="mt-2">Данная торговая площадка является Single Page Application,
    написанным
    при помощи фреймворка Angular. При этом
    содержит следующий функционал:</p>
  <ul>
    <li class="mb-1">главная страница товаров (с превью всех товаров);
    </li>
    <li class="mb-1">страница товара по id (подробная страница отдельного
      товара);
    </li>
    <li class="mb-1">фильтрация товаров по списку параметров (чекбоксы);
    </li>
    <li class="mb-1">страница "О проекте";
    </li>
    <li class="mb-1">функционал добавления объявления на площадке;
    </li>
    <li class="mb-1">функционал входа;
    </li>
    <li class="mb-1">функционал регистрации.
    </li>
  </ul>
</div>
