.container-main {
  max-width: 1300px;
}

.container-columns {
  max-width: 1000px;
}

html {
  scroll-behavior: smooth;
}

.auth-form {
  min-width: 22rem;
}

.full-width {
  width: 100%;
}

.w-33 {
  width: 33%;
}
